<h1 class="text-center">Portsmouth NodeJS Slack Invite</h1>
<form class='col-md-6 col-md-offset-3' id="emailForm">
  <label class="text-center" for="email">Enter your email address</label>
  <input type="email" class="form-control" id="email" placeholder="email" name="email" />
</form>
<p class='col-md-6 col-md-offset-3' id='response'></p>